<html>
<head>
    <title>graph test</title>
</head>
<body>
    <h1>Real time chart</h1>
    <script src="https://cdn.jsdelivr.net/gh/danchitnis/webgl-plot@master/dist/webglplot.umd.min.js"></script>
    <div>
        <canvas class="canvas" id="my_canvas"></canvas>
    </div>
    <style>
        body {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            font-family: Arial, Helvetica, sans-serif;
        }

        .canvas {
            width: 100%;
            height: 70vh;
        }
    </style>
    <script type="text/javascript">
            
        const dataSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
        );

        var time = 0;
        var x_value = 0;
        var y_value = 0;
        var z_value = 0;
        var i = 0;

        var data = [
            { label: "X-axis", values: [] },
            { label: "Y-axis", values: [] },
            { label: "Z-axis", values: [] },
            ];

        dataSocket.onmessage = function(e) {
            const current = JSON.parse(e.data);
            time = current[0]["time"];
            x_value = current[0]["y"];
            y_value = current[1]["y"];
            z_value = current[2]["y"];
        };

        const canvas = document.getElementById("my_canvas");

        const devicePixelRatio = window.devicePixelRatio || 1;
        canvas.width = canvas.clientWidth * devicePixelRatio;
        canvas.height = canvas.clientHeight * devicePixelRatio;

        const numX = canvas.width;
        const color_red = new WebglPlotBundle.ColorRGBA(255, 0, 0, 1,);
        const color_blue = new WebglPlotBundle.ColorRGBA(0, 0, 255, 1,);
        const color_green = new WebglPlotBundle.ColorRGBA(0, 255, 0, 1,);

        const line1 = new WebglPlotBundle.WebglLine(color_red, numX);
        const line2 = new WebglPlotBundle.WebglLine(color_blue, numX);
        const line3 = new WebglPlotBundle.WebglLine(color_green, numX);
        const wglp = new WebglPlotBundle.WebglPlot(canvas);

        line1.arrangeX();
        line2.arrangeX();
        line3.arrangeX();
        console.log(line1);
        console.log(line2);
        console.log(line3);
        wglp.addLine(line1);
        wglp.addLine(line2);
        wglp.addLine(line3);

        function newFrame() {
            update();
            wglp.update();
            requestAnimationFrame(newFrame);
        }
        requestAnimationFrame(newFrame);

        function update() {
            if (i > line1.numPoints){
                line1.shiftAdd([x_value]);
                line2.shiftAdd([y_value]);
                line3.shiftAdd([z_value]);
            }else{
                line1.setY(i, x_value);
                line2.setY(i, y_value);
                line3.setY(i, z_value);
            }
            i+=1;
        }

        dataSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
        };

    </script>
</body>
</html>